/**
  前端项目统一CSS
  @version 1.0
  @author litian
  @Date 2019-3-1
 */
@charset "UTF-8";
html, body {
  height: 100%;
  /*background-color: #EBF2FA;*/
  /*background-color: ; */
}
.item-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.header-title {
  font-family: Microsoft YaHei !important; font-weight: 700; font-size: 20px; color: #F96;
}
.text-right {
  text-align: right;
}
.header-row {
  height: 40px;
  line-height: 40px;
}
.text-center {
  text-align: center;
}
.text-center {
  text-align: center;
}
.content-box {
  padding: 20px;
  border: 1px solid #dddddd;
  box-shadow: 3px 2px 3px #dddddd;
  -webkit-box-shadow: 3px 2px 3px #dddddd;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
